body {
    min-height: 150vh;
    background-image: url(../images/Plasma_Island_GoldM.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

#buttons img {
    height: 50px;
}

#play-icon, #pause-icon {
    margin-top: 335px;
    margin-left: 70px;
}

#speaker-icon, #refresh-icon {
    margin-top: 370px;
}